openapi: 3.0.3
info:
  title: 'E-Commerce API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://marketplace.com'
paths:
  /api/register:
    post:
      summary: 'Register a new user and return their API token.'
      operationId: registerANewUserAndReturnTheirAPIToken
      description: "This endpoint is used to register a new user, including their name, email, password,\nand password confirmation."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: 'User registered successfully'
                  status: 200
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: 'User registered successfully'
                  status:
                    type: integer
                    example: 200
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "The user's full name."
                  example: 'John Doe'
                  nullable: false
                email:
                  type: string
                  description: "The user's email address."
                  example: john.doe@example.com
                  nullable: false
                password:
                  type: string
                  description: "The user's password. Must be at least 8 characters."
                  example: password123
                  nullable: false
                password_confirmation:
                  type: string
                  description: 'Must match the password field.'
                  example: password123
                  nullable: false
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /api/login:
    post:
      summary: 'Login a user.'
      operationId: loginAUser
      description: 'Authenticates a user with email and password. Returns an API token with expiry timer.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"data\": {\n      \"token_type\": \"Bearer,\n      \"token\": \"{YOUR_AUTH_KEY}\",\n      \"expires_in\": \"{YOUR_EXPIRY_TIMER}\"\n  },\n  \"message\": \"Authenticated\",\n  \"status\": 200\n}"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid credentials'
                  status: 401
                properties:
                  message:
                    type: string
                    example: 'Invalid credentials'
                  status:
                    type: integer
                    example: 401
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email."
                  example: john.doe@example.com
                  nullable: false
                password:
                  type: string
                  description: "The user's password."
                  example: password123
                  nullable: false
                remember:
                  type: boolean
                  description: 'optional Whether to remember the user.'
                  example: true
                  nullable: true
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: 'Logout a user.'
      operationId: logoutAUser
      description: 'Logs out the currently authenticated user by invalidating their API token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'User logged out successfully'
                  status: 200
                properties:
                  message:
                    type: string
                    example: 'User logged out successfully'
                  status:
                    type: integer
                    example: 200
      tags:
        - Authentication
  '/api/email/verify/{id}/{hash}':
    get:
      summary: "Verify a user's email address."
      operationId: verifyAUsersEmailAddress
      description: 'Once a user registers, a notification is sent out to their specified email address, which requires them to verify.'
      parameters:
        -
          in: query
          name: id
          description: "The user's id."
          example: '1'
          required: true
          schema:
            type: string
            description: "The user's id."
            example: '1'
            nullable: false
        -
          in: query
          name: hash
          description: 'The hash to verify the email.'
          example: '1234567890'
          required: true
          schema:
            type: string
            description: 'The hash to verify the email.'
            example: '1234567890'
            nullable: false
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: 'Redirected to specified URL'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid/Expired url provided.'
                  status: 401
                properties:
                  message:
                    type: string
                    example: 'Invalid/Expired url provided.'
                  status:
                    type: integer
                    example: 401
      tags:
        - 'Email Verification'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify.'
        example: maiores
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: ratione
        required: true
        schema:
          type: string
  /api/email/resend:
    get:
      summary: 'Resend email to user.'
      operationId: resendEmailToUser
      description: 'Once a user registers, a notification is sent out to their specified email address, which requires them to verify. Incase they dont recieve one, they can request again.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verification link sent on your email id.'
                  status: 200
                properties:
                  message:
                    type: string
                    example: 'Email verification link sent on your email id.'
                  status:
                    type: integer
                    example: 200
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email already verified.'
                  status: 400
                properties:
                  message:
                    type: string
                    example: 'Email already verified.'
                  status:
                    type: integer
                    example: 400
      tags:
        - 'Email Verification'
      security: []
  /api/admin/returns:
    get:
      summary: ''
      operationId: getApiAdminReturns
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/admin/returns/{returnId}/{action}':
    post:
      summary: ''
      operationId: postApiAdminReturnsReturnIdAction
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: returnId
        description: ''
        example: dolorum
        required: true
        schema:
          type: string
      -
        in: path
        name: action
        description: ''
        example: iure
        required: true
        schema:
          type: string
  '/api/admin/refund/{gateway}/{orderReturnId}':
    post:
      summary: ''
      operationId: postApiAdminRefundGatewayOrderReturnId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: gateway
        description: ''
        example: ab
        required: true
        schema:
          type: string
      -
        in: path
        name: orderReturnId
        description: ''
        example: occaecati
        required: true
        schema:
          type: string
  /api/returns:
    post:
      summary: ''
      operationId: postApiReturns
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_item_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the order_items table.'
                  example: ullam
                  nullable: false
                reason:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: zjzeislamllj
                  nullable: false
              required:
                - order_item_id
                - reason
      security: []
  /api/admin/orders:
    get:
      summary: 'Retrieve paginated list of orders.'
      operationId: retrievePaginatedListOfOrders
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Orders retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Orders retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: null
                  nullable: true
                status_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the order_statuses table.'
                  example: null
                  nullable: true
    post:
      summary: 'Create a new order.'
      operationId: createANewOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order created successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Order created successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: cupiditate
                  nullable: false
                status_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the order_statuses table.'
                  example: null
                  nullable: true
                order_items:
                  type: array
                  description: 'Must have at least 1 items.'
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      product_id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the products table.'
                        example: quo
                        nullable: false
                      product_variant_id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the product_variants table.'
                        example: null
                        nullable: true
                      quantity:
                        type: integer
                        description: 'Must be at least 1.'
                        example: 59
                        nullable: false
                      price:
                        type: number
                        description: 'Must be at least 0.'
                        example: 14
                        nullable: false
                    required:
                      - product_id
                      - quantity
                      - price
              required:
                - user_id
                - order_items
  '/api/admin/orders/{id}':
    get:
      summary: 'Retrieve a specific order.'
      operationId: retrieveASpecificOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order retrieved successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Order retrieved successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
    post:
      summary: 'Update an existing order.'
      operationId: updateAnExistingOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order updated successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Order updated successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: null
                  nullable: true
                status_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the order_statuses table.'
                  example: null
                  nullable: true
                order_items:
                  type: array
                  description: 'Must have at least 1 items.'
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      product_id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the products table.'
                        example: dolores
                        nullable: false
                      product_variant_id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the product_variants table.'
                        example: null
                        nullable: true
                      quantity:
                        type: integer
                        description: 'Must be at least 1.'
                        example: 71
                        nullable: false
                      price:
                        type: number
                        description: 'Must be at least 0.'
                        example: 62
                        nullable: false
                    required:
                      - product_id
                      - quantity
                      - price
              required:
                - order_items
    delete:
      summary: 'Soft delete a order.'
      operationId: softDeleteAOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order deleted (soft).'
                properties:
                  message:
                    type: string
                    example: 'Order deleted (soft).'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/orders/{id}/force-delete':
    delete:
      summary: 'Permanently delete a order.'
      operationId: permanentlyDeleteAOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order permanently deleted.'
                properties:
                  message:
                    type: string
                    example: 'Order permanently deleted.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/orders/{id}/restore':
    patch:
      summary: 'Restore a soft deleted order.'
      operationId: restoreASoftDeletedOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order restored successfully.'
                properties:
                  message:
                    type: string
                    example: 'Order restored successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/orders/{id}':
    get:
      summary: 'Retrieve a specific order.'
      operationId: retrieveASpecificOrder
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Order retrieved successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Order retrieved successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Orders
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  /api/forgot-password:
    post:
      summary: 'Request a password reset link.'
      operationId: requestAPasswordResetLink
      description: 'Sends a password reset email to the specified email address.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password reset link sent.'
                  status: 200
                properties:
                  message:
                    type: string
                    example: 'Password reset link sent.'
                  status:
                    type: integer
                    example: 200
        400:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"message\": {ERROR_MESSAGE},\n  \"status\": 400\n}"
      tags:
        - 'Password Reset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john.doe@example.com
                  nullable: false
              required:
                - email
  /api/reset-password:
    post:
      summary: "Reset a user's password."
      operationId: resetAUsersPassword
      description: "Resets the user's password using the provided reset token."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password has been reset.'
                  status: 200
                properties:
                  message:
                    type: string
                    example: 'Password has been reset.'
                  status:
                    type: integer
                    example: 200
        400:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n  \"message\": {ERROR_MESSAGE},\n  \"status\": 400\n}"
      tags:
        - 'Password Reset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The password reset token.'
                  example: abc123
                  nullable: false
                email:
                  type: string
                  description: "The user's email address."
                  example: john.doe@example.com
                  nullable: false
                password:
                  type: string
                  description: 'The new password.'
                  example: newpassword123
                  nullable: false
                password_confirmation:
                  type: string
                  description: 'Must match the password.'
                  example: newpassword123
                  nullable: false
              required:
                - token
                - email
                - password
                - password_confirmation
  /api/admin/payment-methods:
    get:
      summary: 'Retrieve all payment methods.'
      operationId: retrieveAllPaymentMethods
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Payment Methods retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Payment Methods retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Payment Methods'
    post:
      summary: 'Create a new payment method.'
      operationId: createANewPaymentMethod
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Payment Method created successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Payment Method created successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Payment Methods'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the payment method.'
                  example: '"Google Pay"'
                  nullable: false
              required:
                - name
  '/api/admin/payment-methods/{paymentMethod_id}':
    post:
      summary: 'Update a payment method.'
      operationId: updateAPaymentMethod
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Payment Method updated successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Payment Method updated successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Payment Methods'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the payment method.'
                  example: '"Google Pay"'
                  nullable: false
              required:
                - name
    delete:
      summary: 'Delete a permission.'
      operationId: deleteAPermission
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Payment Method deleted successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Payment Method deleted successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Payment Methods'
    parameters:
      -
        in: path
        name: paymentMethod_id
        description: 'The ID of the paymentMethod.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/payments/{gateway}/create':
    post:
      summary: 'Initiate Payment'
      operationId: initiatePayment
      description: "Creates or retrieves a Stripe PaymentIntent for a given order. If a payment already exists,\nit will return the existing client secret to avoid duplicate charges."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: ''
                    type: object
                    example:
                      status: true
                      message: 'PaymentIntent created successfully.'
                      data:
                        client_secret: pi_1Hxxxxxxxxxxxx_secret_xxxxxxxxx
                    properties:
                      status:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'PaymentIntent created successfully.'
                      data:
                        type: object
                        properties:
                          client_secret:
                            type: string
                            example: pi_1Hxxxxxxxxxxxx_secret_xxxxxxxxx
                  -
                    description: 'Already Paid'
                    type: object
                    example:
                      status: true
                      message: 'Payment has already been processed for this order.'
                      data: null
                    properties:
                      status:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'Payment has already been processed for this order.'
                      data:
                        type: string
                        example: null
        400:
          description: 'Unsupported Gateway'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  message: 'Unsupported payment gateway'
                  data: null
                properties:
                  status:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Unsupported payment gateway'
                  data:
                    type: string
                    example: null
        404:
          description: 'Order Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  message: 'No query results for model [App\Models\Order] 999'
                  data: null
                properties:
                  status:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No query results for model [App\Models\Order] 999'
                  data:
                    type: string
                    example: null
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: integer
                  description: 'The ID of the order being paid for.'
                  example: 123
                  nullable: false
              required:
                - order_id
      security: []
    parameters:
      -
        in: path
        name: gateway
        description: 'The payment gateway to use. Currently supported: `stripe`.'
        example: stripe
        required: true
        schema:
          type: string
  /api/payments/stripe/webhook:
    post:
      summary: 'Stripe Webhook Listener'
      operationId: stripeWebhookListener
      description: "This endpoint is triggered by Stripe when a payment event occurs (e.g., payment succeeded, failed).\nIt verifies the webhook signature and processes the payment status accordingly."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Webhook update.'
                  data: null
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Webhook update.'
                  data:
                    type: string
                    example: null
        400:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Invalid Signature or Payload'
                    type: object
                    example:
                      status: false
                      message: 'Invalid Stripe signature'
                      data: null
                    properties:
                      status:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'Invalid Stripe signature'
                      data:
                        type: string
                        example: null
                  -
                    description: 'Invalid Payload Format'
                    type: object
                    example:
                      status: false
                      message: 'Invalid payload'
                      data: null
                    properties:
                      status:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'Invalid payload'
                      data:
                        type: string
                        example: null
      tags:
        - Payments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                object:
                  type: $event
                  description: 'Stripe webhook payload. The full JSON payload sent by Stripe will be validated internally.'
                  example: sit
                  nullable: false
      security: []
    parameters:
      -
        in: path
        name: none
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: ex
  /api/admin/permissions:
    get:
      summary: 'Retrieve all permissions.'
      operationId: retrieveAllPermissions
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permissions retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Permissions retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Permissions
    post:
      summary: 'Create a new permission.'
      operationId: createANewPermission
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permission created successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Permission created successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Permissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the permission.'
                  example: '"create-vendor"'
                  nullable: false
              required:
                - name
  '/api/admin/permissions/{id}':
    post:
      summary: 'Update a permission.'
      operationId: updateAPermission
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permission updated successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Permission updated successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Permissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The updated name of the permission.'
                  example: '"create-vendor"'
                  nullable: false
              required:
                - name
    delete:
      summary: 'Delete a permission.'
      operationId: deleteAPermission
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permission deleted successfully.'
                properties:
                  message:
                    type: string
                    example: 'Permission deleted successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Permissions
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the permission.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/product-attributes:
    get:
      summary: 'Retrieve all product attributes.'
      operationId: retrieveAllProductAttributes
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Attributes retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Attributes retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Attributes'
    post:
      summary: 'Create a new product attribute.'
      operationId: createANewProductAttribute
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product attribute created successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Product attribute created successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Attributes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the product attribute.'
                  example: '"Color"'
                  nullable: false
              required:
                - name
  '/api/admin/product-attributes/{productAttribute_id}':
    get:
      summary: 'Retrieve a specific product attribute.'
      operationId: retrieveASpecificProductAttribute
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Attribute retrieved successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Attribute retrieved successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Attributes'
    post:
      summary: 'Update a product attribute.'
      operationId: updateAProductAttribute
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product attribute updated successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Product attribute updated successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Attributes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The updated name of the product attribute.'
                  example: '"Size"'
                  nullable: false
              required:
                - name
    delete:
      summary: 'Delete a product attribute.'
      operationId: deleteAProductAttribute
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product attribute deleted successfully.'
                properties:
                  message:
                    type: string
                    example: 'Product attribute deleted successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Attributes'
    parameters:
      -
        in: path
        name: productAttribute_id
        description: 'The ID of the productAttribute.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/product-categories:
    get:
      summary: 'Get all product categories'
      operationId: getAllProductCategories
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Categories retrieved successfully.'
                  data:
                    -
                      id: 1
                      name: Electronics
                      children: []
                properties:
                  message:
                    type: string
                    example: 'Categories retrieved successfully.'
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Electronics
                        children: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Electronics
                        children:
                          type: array
                          example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Category'
    post:
      summary: 'Store a new product category'
      operationId: storeANewProductCategory
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category created successfully.'
                  data:
                    id: 2
                    name: Laptops
                    parent_id: 1
                properties:
                  message:
                    type: string
                    example: 'Category created successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      name:
                        type: string
                        example: Laptops
                      parent_id:
                        type: integer
                        example: 1
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Category'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the category.'
                  example: non
                  nullable: false
                parent_id:
                  type: integer
                  description: 'optional The ID of the parent category.'
                  example: 3
                  nullable: true
              required:
                - name
  '/api/admin/product-categories/{productCategory_id}':
    get:
      summary: 'Get a specific product category'
      operationId: getASpecificProductCategory
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category retrieved successfully.'
                  data:
                    id: 1
                    name: Electronics
                    children: []
                properties:
                  message:
                    type: string
                    example: 'Category retrieved successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Electronics
                      children:
                        type: array
                        example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Category'
    post:
      summary: 'Update a product category'
      operationId: updateAProductCategory
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category updated successfully.'
                  data:
                    id: 1
                    name: 'Updated Category Name'
                    parent_id: null
                properties:
                  message:
                    type: string
                    example: 'Category updated successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Updated Category Name'
                      parent_id:
                        type: string
                        example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Category'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the category.'
                  example: non
                  nullable: false
                parent_id:
                  type: integer
                  description: 'optional The ID of the parent category.'
                  example: 18
                  nullable: true
              required:
                - name
    delete:
      summary: 'Delete a product category'
      operationId: deleteAProductCategory
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Category deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'Category deleted successfully'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Cannot delete a category with subcategories'
                properties:
                  message:
                    type: string
                    example: 'Cannot delete a category with subcategories'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Category'
    parameters:
      -
        in: path
        name: productCategory_id
        description: 'The ID of the productCategory.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/product-tags:
    get:
      summary: 'Retrieve all product tags.'
      operationId: retrieveAllProductTags
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tags retrieved successfully.'
                  data:
                    -
                      id: 1
                      name: Electronics
                    -
                      id: 2
                      name: Fashion
                properties:
                  message:
                    type: string
                    example: 'Tags retrieved successfully.'
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Electronics
                      -
                        id: 2
                        name: Fashion
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Electronics
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Tags'
    post:
      summary: 'Create a new product tag.'
      operationId: createANewProductTag
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tag created successfully.'
                  data:
                    id: 3
                    name: 'Home Appliances'
                properties:
                  message:
                    type: string
                    example: 'Tag created successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      name:
                        type: string
                        example: 'Home Appliances'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Tags'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the product tag.'
                  example: expedita
                  nullable: false
              required:
                - name
  '/api/admin/product-tags/{productTag_id}':
    get:
      summary: 'Retrieve a specific product tag.'
      operationId: retrieveASpecificProductTag
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tag retrieved successfully.'
                  data:
                    id: 1
                    name: Electronics
                properties:
                  message:
                    type: string
                    example: 'Tag retrieved successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Electronics
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Tags'
    post:
      summary: 'Update an existing product tag.'
      operationId: updateAnExistingProductTag
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tag updated successfully.'
                  data:
                    id: 1
                    name: Gadgets
                properties:
                  message:
                    type: string
                    example: 'Tag updated successfully.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Gadgets
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Tags'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The updated name of the product tag.'
                  example: tempora
                  nullable: false
              required:
                - name
    delete:
      summary: 'Delete a product tag.'
      operationId: deleteAProductTag
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Tag deleted successfully.'
                properties:
                  message:
                    type: string
                    example: 'Tag deleted successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Product Tags'
    parameters:
      -
        in: path
        name: productTag_id
        description: 'The ID of the productTag.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/products:
    get:
      summary: 'Retrieve a paginated list of products.'
      operationId: retrieveAPaginatedListOfProducts
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Products retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Products retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties:
                    name:
                      type: string
                      description: 'Must not be greater than 255 characters.'
                      example: qyhvrlzsrxhdfzmrkw
                      nullable: false
                    price:
                      type: string
                      description: 'Must match the regex /^\d+(\.\d{1,2})?(,\d+(\.\d{1,2})?)*$/.'
                      example: '1.4'
                      nullable: false
                    category:
                      type: string
                      description: 'Must match the regex /^(\d,?)+$/.'
                      example: '0,'
                      nullable: false
                    quantity:
                      type: integer
                      description: 'Must be at least 0.'
                      example: 19
                      nullable: false
                    created_at:
                      type: string
                      description: 'Must match the regex /^\d{4}-\d{2}-\d{2}(,\d{4}-\d{2}-\d{2})?$/.'
                      example: '3071-67-62'
                      nullable: false
                    updated_at:
                      type: string
                      description: 'Must match the regex /^\d{4}-\d{2}-\d{2}(,\d{4}-\d{2}-\d{2})?$/.'
                      example: '5392-24-38,2619-44-23'
                      nullable: false
                    search:
                      type: string
                      description: 'Must not be greater than 255 characters.'
                      example: mdpwjoeundqahbtesrrgsu
                      nullable: false
                    include:
                      type: string
                      description: 'Must match the regex /^(\w+(,\w+)*)?$/.'
                      example: 'whqss,npqmpmtpwpgpqup,obkqhkdjooysrj,uiy)'
                      nullable: false
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 4
                  nullable: false
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 6
                  nullable: false
                sort:
                  type: string
                  description: 'Must match the regex /^(-?[a-zA-Z0-9_]+)(,-?[a-zA-Z0-9_]+)*$/.'
                  example: '-lC,M1,-Hk'
                  nullable: false
    post:
      summary: 'Create a new product.'
      operationId: createANewProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product created successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Product created successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: yb
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Officiis et atque eos atque.'
                  nullable: true
                price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 20
                  nullable: false
                product_category_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the product_categories table.'
                  example: ut
                  nullable: false
                product_status_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the product_statuses table.'
                  example: consequuntur
                  nullable: false
                quantity:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 6
                  nullable: false
                product_tags:
                  type: array
                  description: 'The <code>id</code> of an existing record in the product_tags table.'
                  example: null
                  items:
                    type: string
                product_variants:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    properties:
                      product_attribute_id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the product_attributes table.'
                        example: deserunt
                        nullable: false
                      value:
                        type: string
                        description: 'This field is required when <code>product_variants</code> is present. Must not be greater than 255 characters.'
                        example: dfa
                        nullable: false
                      additional_price:
                        type: number
                        description: 'Must be at least 0.'
                        example: 81
                        nullable: true
                      quantity:
                        type: integer
                        description: 'Must be at least 0.'
                        example: 45
                        nullable: false
                    required:
                      - product_attribute_id
                      - quantity
                media:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    featured_image:
                      type: string
                      format: binary
                      description: 'Must be a file. Must be an image. Must not be greater than 2048 kilobytes.'
                      nullable: false
                    gallery:
                      type: array
                      description: 'Must be a file. Must be an image. Must not be greater than 2048 kilobytes.'
                      items:
                        type: string
                        format: binary
              required:
                - name
                - price
                - product_category_id
                - product_status_id
                - quantity
  '/api/admin/products/{id}':
    get:
      summary: 'Retrieve a specific product.'
      operationId: retrieveASpecificProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product retrieved successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Product retrieved successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
    post:
      summary: 'Update an existing product.'
      operationId: updateAnExistingProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product updated successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Product updated successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: whsldmifqqhoha
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Vero id quis a velit sit ad inventore et.'
                  nullable: true
                price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 0
                  nullable: false
                product_category_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the product_categories table.'
                  example: laudantium
                  nullable: false
                product_status_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the product_statuses table.'
                  example: dolores
                  nullable: false
                quantity:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 74
                  nullable: false
                product_tags:
                  type: array
                  description: 'The <code>id</code> of an existing record in the product_tags table.'
                  example: null
                  items:
                    type: string
                product_variants:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    properties:
                      product_attribute_id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the product_attributes table.'
                        example: voluptates
                        nullable: false
                      value:
                        type: string
                        description: 'This field is required when <code>product_variants</code> is present. Must not be greater than 255 characters.'
                        example: fixflhvweeavangacfjfd
                        nullable: false
                      additional_price:
                        type: number
                        description: 'Must be at least 0.'
                        example: 3
                        nullable: true
                      quantity:
                        type: integer
                        description: 'Must be at least 0.'
                        example: 38
                        nullable: false
                    required:
                      - product_attribute_id
                      - quantity
                media:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    featured_image:
                      type: string
                      format: binary
                      description: 'Must be a file. Must be an image. Must not be greater than 2048 kilobytes.'
                      nullable: true
                    gallery:
                      type: array
                      description: 'Must be a file. Must be an image. Must not be greater than 2048 kilobytes.'
                      items:
                        type: string
                        format: binary
              required:
                - name
                - price
                - product_category_id
                - product_status_id
                - quantity
    delete:
      summary: 'Permanently delete a product.'
      operationId: permanentlyDeleteAProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product deleted successfully.'
                properties:
                  message:
                    type: string
                    example: 'Product deleted successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/products/soft-destroy/{product_id}':
    delete:
      summary: 'Soft delete a product.'
      operationId: softDeleteAProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product deleted successfully.'
                properties:
                  message:
                    type: string
                    example: 'Product deleted successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/products/{id}/restore':
    patch:
      summary: 'Restore a soft deleted product.'
      operationId: restoreASoftDeletedProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product restored successfully.'
                properties:
                  message:
                    type: string
                    example: 'Product restored successfully.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 1
        required: true
        schema:
          type: integer
  /api/products:
    get:
      summary: 'Retrieve a paginated list of products.'
      operationId: retrieveAPaginatedListOfProducts
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Products retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Products retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties:
                    name:
                      type: string
                      description: 'Must not be greater than 255 characters.'
                      example: bwbjfsmzlgmkaoc
                      nullable: false
                    price:
                      type: string
                      description: 'Must match the regex /^\d+(\.\d{1,2})?(,\d+(\.\d{1,2})?)*$/.'
                      example: '101,3500565.8))'
                      nullable: false
                    category:
                      type: string
                      description: 'Must match the regex /^(\d,?)+$/.'
                      example: '8,'
                      nullable: false
                    quantity:
                      type: integer
                      description: 'Must be at least 0.'
                      example: 0
                      nullable: false
                    created_at:
                      type: string
                      description: 'Must match the regex /^\d{4}-\d{2}-\d{2}(,\d{4}-\d{2}-\d{2})?$/.'
                      example: '9089-67-58,9352-22-36'
                      nullable: false
                    updated_at:
                      type: string
                      description: 'Must match the regex /^\d{4}-\d{2}-\d{2}(,\d{4}-\d{2}-\d{2})?$/.'
                      example: '4741-00-41,2830-31-28'
                      nullable: false
                    search:
                      type: string
                      description: 'Must not be greater than 255 characters.'
                      example: klai
                      nullable: false
                    include:
                      type: string
                      description: 'Must match the regex /^(\w+(,\w+)*)?$/.'
                      example: 'r,vdntqqghefpnhtsm,bmouugl,jvnblpys,zppsknoj,jcgohwy)'
                      nullable: false
                page:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 60
                  nullable: false
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 8
                  nullable: false
                sort:
                  type: string
                  description: 'Must match the regex /^(-?[a-zA-Z0-9_]+)(,-?[a-zA-Z0-9_]+)*$/.'
                  example: '-Q,-3,-r'
                  nullable: false
      security: []
  '/api/products/{id}':
    get:
      summary: 'Retrieve a specific product.'
      operationId: retrieveASpecificProduct
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Product retrieved successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Product retrieved successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - Products
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/roles/{role_id}/permissions':
    get:
      summary: 'Retrieve all permissions for a role.'
      operationId: retrieveAllPermissionsForARole
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permissions retrieved successfully.'
                  data: []
                properties:
                  message:
                    type: string
                    example: 'Permissions retrieved successfully.'
                  data:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Role Permissions'
    post:
      summary: 'Assign specific permissions to a role.'
      operationId: assignSpecificPermissionsToARole
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permissions assigned successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Permissions assigned successfully.'
                  data:
                    type: object
                    properties: {  }
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    permissions:
                      - 'The permissions field is required.'
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      permissions:
                        type: array
                        example:
                          - 'The permissions field is required.'
                        items:
                          type: string
      tags:
        - 'Role Permissions'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: array
                  description: 'List of permission names to assign.'
                  example:
                    - create_users
                    - edit_users
                  items:
                    type: string
              required:
                - permissions
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: role
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/roles/{role_id}/permissions/assign-all':
    post:
      summary: 'Assign all available permissions to a role.'
      operationId: assignAllAvailablePermissionsToARole
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'All permissions assigned successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'All permissions assigned successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Role Permissions'
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: role
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/admin/roles/{role_id}/permissions/{permission_id}':
    delete:
      summary: 'Revoke a specific permission from a role.'
      operationId: revokeASpecificPermissionFromARole
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Permission revoked successfully.'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Permission revoked successfully.'
                  data:
                    type: object
                    properties: {  }
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have the required permissions.'
                properties:
                  message:
                    type: string
                    example: 'You do not have the required permissions.'
      tags:
        - 'Role Permissions'
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: permission_id
        description: 'The ID of the permission.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: role
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: permission
        description: 'The ID of the permission to revoke.'
        example: 5
        required: true
        schema:
[...]
