openapi: 3.0.3
info:
  title: 'E-Commerce API Documentation'
  description: 'Comprehensive API for managing products, orders, payments, users, vendors, and more in an e-commerce platform.'
  version: 1.0.0
  contact:
    name: 'API Support'
    email: support@example.com
servers:
  -
    url: 'http://marketplace.com'
paths:
  /api/register:
    post:
      summary: 'Register a new user'
      operationId: registerANewUser
      description: "Creates a new user account with email verification. The user will receive an email to verify their account.\nPasswords must meet security requirements including minimum length, character diversity, and cannot be common passwords."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: 'User registered successfully.'
                  status: 200
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: 'User registered successfully.'
                  status:
                    type: integer
                    example: 200
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password does not meet security requirements.'
                  errors:
                    - 'Password must contain at least 1 uppercase letter(s).'
                    - 'Password cannot contain common words or patterns that are not secure.'
                  strength:
                    score: 45
                    strength: medium
                    feedback:
                      - 'Add special characters'
                      - 'Use more unique characters'
                properties:
                  message:
                    type: string
                    example: 'Password does not meet security requirements.'
                  errors:
                    type: array
                    example:
                      - 'Password must contain at least 1 uppercase letter(s).'
                      - 'Password cannot contain common words or patterns that are not secure.'
                    items:
                      type: string
                  strength:
                    type: object
                    properties:
                      score:
                        type: integer
                        example: 45
                      strength:
                        type: string
                        example: medium
                      feedback:
                        type: array
                        example:
                          - 'Add special characters'
                          - 'Use more unique characters'
                        items:
                          type: string
        423:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Registration temporarily blocked. Please try again later.'
                  time_remaining_minutes: 15
                properties:
                  message:
                    type: string
                    example: 'Registration temporarily blocked. Please try again later.'
                  time_remaining_minutes:
                    type: integer
                    example: 15
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "The user's full name."
                  example: 'John Doe'
                  nullable: false
                email:
                  type: string
                  description: "The user's email address. Must be unique."
                  example: john@example.com
                  nullable: false
                password:
                  type: string
                  description: "The user's password. Must be at least 12 characters with uppercase, lowercase, numbers, and symbols."
                  example: MySecurePass123!
                  nullable: false
                password_confirmation:
                  type: string
                  description: 'Password confirmation. Must match the password field.'
                  example: MySecurePass123!
                  nullable: false
              required:
                - name
                - email
                - password
                - password_confirmation
      security: []
  /api/login:
    post:
      summary: 'User login'
      operationId: userLogin
      description: 'Authenticates a user and returns an access token. Implements account lockout protection and tracks failed attempts.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token_type: Bearer
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...
                    expires_at: 1640995200
                    user:
                      id: 1
                      email: john@example.com
                      role: user
                  message: 'User logged in successfully.'
                  status: 200
                properties:
                  data:
                    type: object
                    properties:
                      token_type:
                        type: string
                        example: Bearer
                      access_token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9...
                      expires_at:
                        type: integer
                        example: 1640995200
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          email:
                            type: string
                            example: john@example.com
                          role:
                            type: string
                            example: user
                  message:
                    type: string
                    example: 'User logged in successfully.'
                  status:
                    type: integer
                    example: 200
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid credentials'
                properties:
                  message:
                    type: string
                    example: 'Invalid credentials'
        423:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Account is temporarily locked due to multiple failed login attempts.'
                  locked_until: '2024-01-15T15:30:00.000000Z'
                  time_remaining_seconds: 1800
                  time_remaining_minutes: 30
                  lockout_count: 2
                properties:
                  message:
                    type: string
                    example: 'Account is temporarily locked due to multiple failed login attempts.'
                  locked_until:
                    type: string
                    example: '2024-01-15T15:30:00.000000Z'
                  time_remaining_seconds:
                    type: integer
                    example: 1800
                  time_remaining_minutes:
                    type: integer
                    example: 30
                  lockout_count:
                    type: integer
                    example: 2
        426:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Your password has expired and must be changed before logging in.'
                  password_expired: true
                  change_password_required: true
                properties:
                  message:
                    type: string
                    example: 'Your password has expired and must be changed before logging in.'
                  password_expired:
                    type: boolean
                    example: true
                  change_password_required:
                    type: boolean
                    example: true
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                  nullable: false
                password:
                  type: string
                  description: "The user's password."
                  example: MySecurePass123!
                  nullable: false
                remember:
                  type: boolean
                  description: 'optional Whether to remember the user for extended period.'
                  example: true
                  nullable: true
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: 'User logout'
      operationId: userLogout
      description: 'Logs out the authenticated user and revokes their access token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: 'User logged out successfully'
                  status: 200
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: 'User logged out successfully'
                  status:
                    type: integer
                    example: 200
      tags:
        - Authentication
  /api/change-password:
    post:
      summary: 'Change password'
      operationId: changePassword
      description: "Changes the authenticated user's password. Requires current password verification and validates new password strength."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    password_strength:
                      score: 85
                      strength: 'very strong'
                      feedback: []
                    security_score:
                      score: 95
                      level: excellent
                      issues: []
                  message: 'Password changed successfully'
                  status: 200
                properties:
                  data:
                    type: object
                    properties:
                      password_strength:
                        type: object
                        properties:
                          score:
                            type: integer
                            example: 85
                          strength:
                            type: string
                            example: 'very strong'
                          feedback:
                            type: array
                            example: []
                      security_score:
                        type: object
                        properties:
                          score:
                            type: integer
                            example: 95
                          level:
                            type: string
                            example: excellent
                          issues:
                            type: array
                            example: []
                  message:
                    type: string
                    example: 'Password changed successfully'
                  status:
                    type: integer
                    example: 200
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Current password is incorrect'
                properties:
                  message:
                    type: string
                    example: 'Current password is incorrect'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'New password does not meet security requirements.'
                  errors:
                    - 'Password cannot be the same as your last 5 passwords.'
                  strength:
                    score: 45
                    strength: medium
                    feedback:
                      - 'Add special characters'
                properties:
                  message:
                    type: string
                    example: 'New password does not meet security requirements.'
                  errors:
                    type: array
                    example:
                      - 'Password cannot be the same as your last 5 passwords.'
                    items:
                      type: string
                  strength:
                    type: object
                    properties:
                      score:
                        type: integer
                        example: 45
                      strength:
                        type: string
                        example: medium
                      feedback:
                        type: array
                        example:
                          - 'Add special characters'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: "The user's current password."
                  example: MyOldPass123!
                  nullable: false
                new_password:
                  type: string
                  description: 'The new password. Must meet security requirements.'
                  example: MyNewSecurePass456!
                  nullable: false
                new_password_confirmation:
                  type: string
                  description: 'Confirmation of the new password.'
                  example: MyNewSecurePass456!
                  nullable: false
              required:
                - current_password
                - new_password
                - new_password_confirmation
  /api/security-info:
    get:
      summary: 'Get security information'
      operationId: getSecurityInformation
      description: 'Retrieves comprehensive security information for the authenticated user including account lock status, security score, and password expiry details.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    account_lock:
                      is_locked: false
                      failed_attempts: 0
                      max_attempts: 5
                      lockout_count: 0
                      locked_until: null
                      time_until_unlock: null
                      last_attempt_at: null
                      last_successful_login: '2024-01-15T10:30:00.000000Z'
                      should_reset: false
                    security_score:
                      score: 85
                      level: good
                      issues:
                        - 'Medium strength password'
                    password_expiry:
                      requires_change: false
                      days_until_expiry: 45
                      last_changed: '2024-01-01T12:00:00.000000Z'
                    login_history:
                      last_login: '2024-01-15T10:30:00.000000Z'
                      last_login_ip: 192.168.1.100
                  message: 'Security information retrieved'
                  status: 200
                properties:
                  data:
                    type: object
                    properties:
                      account_lock:
                        type: object
                        properties:
                          is_locked:
                            type: boolean
                            example: false
                          failed_attempts:
                            type: integer
                            example: 0
                          max_attempts:
                            type: integer
                            example: 5
                          lockout_count:
                            type: integer
                            example: 0
                          locked_until:
                            type: string
                            example: null
                          time_until_unlock:
                            type: string
                            example: null
                          last_attempt_at:
                            type: string
                            example: null
                          last_successful_login:
                            type: string
                            example: '2024-01-15T10:30:00.000000Z'
                          should_reset:
                            type: boolean
                            example: false
                      security_score:
                        type: object
                        properties:
                          score:
                            type: integer
                            example: 85
                          level:
                            type: string
                            example: good
                          issues:
                            type: array
                            example:
                              - 'Medium strength password'
                            items:
                              type: string
                      password_expiry:
                        type: object
                        properties:
                          requires_change:
                            type: boolean
                            example: false
                          days_until_expiry:
                            type: integer
                            example: 45
                          last_changed:
                            type: string
                            example: '2024-01-01T12:00:00.000000Z'
                      login_history:
                        type: object
                        properties:
                          last_login:
                            type: string
                            example: '2024-01-15T10:30:00.000000Z'
                          last_login_ip:
                            type: string
                            example: 192.168.1.100
                  message:
                    type: string
                    example: 'Security information retrieved'
                  status:
                    type: integer
                    example: 200
      tags:
        - Authentication
  /api/forgot-password:
    post:
      summary: 'Forgot password'
      operationId: forgotPassword
      description: "Sends a password reset link to the user's email address."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: 'We have emailed your password reset link!'
                  status: 200
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: 'We have emailed your password reset link!'
                  status:
                    type: integer
                    example: 200
        423:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password reset temporarily blocked. Please try again later.'
                properties:
                  message:
                    type: string
                    example: 'Password reset temporarily blocked. Please try again later.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                  nullable: false
              required:
                - email
      security: []
  /api/reset-password:
    post:
      summary: 'Reset password'
      operationId: resetPassword
      description: "Resets the user's password using a valid reset token from the forgot password email."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: 'Your password has been reset!'
                  status: 200
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: 'Your password has been reset!'
                  status:
                    type: integer
                    example: 200
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'New password does not meet security requirements.'
                  errors:
                    - 'Password must contain at least 1 special character(s).'
                  strength:
                    score: 60
                    strength: strong
                    feedback:
                      - 'Add special characters'
                properties:
                  message:
                    type: string
                    example: 'New password does not meet security requirements.'
                  errors:
                    type: array
                    example:
                      - 'Password must contain at least 1 special character(s).'
                    items:
                      type: string
                  strength:
                    type: object
                    properties:
                      score:
                        type: integer
                        example: 60
                      strength:
                        type: string
                        example: strong
                      feedback:
                        type: array
                        example:
                          - 'Add special characters'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The password reset token from the email.'
                  example: abc123def456
                  nullable: false
                email:
                  type: string
                  description: "The user's email address."
                  example: john@example.com
                  nullable: false
                password:
                  type: string
                  description: 'The new password. Must meet security requirements.'
                  example: MyNewSecurePass456!
                  nullable: false
                password_confirmation:
                  type: string
                  description: 'Confirmation of the new password.'
                  example: MyNewSecurePass456!
                  nullable: false
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  '/api/email/verify/{id}/{hash}':
    get:
      summary: "Verify a user's email address"
      operationId: verifyAUsersEmailAddress
      description: "This endpoint verifies a user's email address using a signed URL that is sent to their email\nafter registration. The verification link contains the user ID and a hash for security.\nOnce verified, the user's email_verified_at timestamp is set and they can access protected features."
      parameters:
        -
          in: query
          name: expires
          description: 'The expiration timestamp for the verification link. Automatically included.'
          example: 1640995200
          required: true
          schema:
            type: integer
            description: 'The expiration timestamp for the verification link. Automatically included.'
            example: 1640995200
            nullable: false
        -
          in: query
          name: signature
          description: 'The signature that validates the signed URL. Automatically included.'
          example: xyz789abc123def456
          required: true
          schema:
            type: string
            description: 'The signature that validates the signed URL. Automatically included.'
            example: xyz789abc123def456
            nullable: false
      responses:
        302:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Email verified successfully'
                    type: object
                    example:
                      description: 'User is redirected to the frontend email verification success page'
                      headers:
                        Location: 'https://yourfrontend.com/email-verified'
                    properties:
                      description:
                        type: string
                        example: 'User is redirected to the frontend email verification success page'
                      headers:
                        type: object
                        properties:
                          Location:
                            type: string
                            example: 'https://yourfrontend.com/email-verified'
                  -
                    description: 'Email already verified'
                    type: object
                    example:
                      description: 'User is redirected to the frontend (email was already verified previously)'
                      headers:
                        Location: 'https://yourfrontend.com/email-verified'
                    properties:
                      description:
                        type: string
                        example: 'User is redirected to the frontend (email was already verified previously)'
                      headers:
                        type: object
                        properties:
                          Location:
                            type: string
                            example: 'https://yourfrontend.com/email-verified'
        401:
          description: 'Invalid or expired verification link'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid/Expired url provided.'
                  status: 401
                properties:
                  message:
                    type: string
                    example: 'Invalid/Expired url provided.'
                  status:
                    type: integer
                    example: 401
        403:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Signature verification failed'
                    type: object
                    example:
                      message: 'Invalid/Expired url provided.'
                      status: 401
                    properties:
                      message:
                        type: string
                        example: 'Invalid/Expired url provided.'
                      status:
                        type: integer
                        example: 401
                  -
                    description: ''
                    type: object
                    example:
                      message: 'Invalid signature.'
                      exception: Illuminate\Routing\Exceptions\InvalidSignatureException
                      file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ValidateSignature.php
                      line: 73
                      trace:
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Routing\Middleware\ValidateSignature
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/app/Http/Middleware/V1/SecurityMonitoring.php
                          line: 27
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: App\Http\Middleware\V1\SecurityMonitoring
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/app/Http/Middleware/V1/SecurityLogger.php
                          line: 23
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: App\Http\Middleware\V1\SecurityLogger
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/app/Http/Middleware/V1/SecurityHeaders.php
                          line: 12
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: App\Http\Middleware\V1\SecurityHeaders
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                          line: 51
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Routing\Middleware\SubstituteBindings
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 127
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                          line: 807
                          function: then
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                          line: 786
                          function: runRouteWithinStack
                          class: Illuminate\Routing\Router
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                          line: 750
                          function: runRoute
                          class: Illuminate\Routing\Router
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                          line: 739
                          function: dispatchToRoute
                          class: Illuminate\Routing\Router
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                          line: 201
                          function: dispatch
                          class: Illuminate\Routing\Router
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 170
                          function: 'Illuminate\Foundation\Http\{closure}'
                          class: Illuminate\Foundation\Http\Kernel
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                          line: 21
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                          line: 31
                          function: handle
                          class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                          line: 21
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                          line: 51
                          function: handle
                          class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Foundation\Http\Middleware\TrimStrings
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/ValidatePostSize.php
                          line: 27
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Http\Middleware\ValidatePostSize
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                          line: 110
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                          line: 49
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Http\Middleware\HandleCors
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                          line: 58
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Http\Middleware\TrustProxies
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/InvokeDeferredCallbacks.php
                          line: 22
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 209
                          function: handle
                          class: Illuminate\Foundation\Http\Middleware\InvokeDeferredCallbacks
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                          line: 127
                          function: 'Illuminate\Pipeline\{closure}'
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                          line: 176
                          function: then
                          class: Illuminate\Pipeline\Pipeline
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                          line: 145
                          function: sendRequestThroughRouter
                          class: Illuminate\Foundation\Http\Kernel
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                          line: 310
                          function: handle
                          class: Illuminate\Foundation\Http\Kernel
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                          line: 298
                          function: callLaravelOrLumenRoute
                          class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                          line: 91
                          function: makeApiCall
                          class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                          line: 44
                          function: makeResponseCall
                          class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                          line: 35
                          function: makeResponseCallIfConditionsPass
                          class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                          line: 237
                          function: __invoke
                          class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                          line: 163
                          function: iterateThroughStrategies
                          class: Knuckles\Scribe\Extracting\Extractor
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                          line: 95
                          function: fetchResponses
                          class: Knuckles\Scribe\Extracting\Extractor
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                          line: 125
                          function: processRoute
                          class: Knuckles\Scribe\Extracting\Extractor
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                          line: 72
                          function: extractEndpointsInfoFromLaravelApp
                          class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                          line: 50
                          function: extractEndpointsInfoAndWriteToDisk
                          class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                          line: 53
                          function: get
                          class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                          line: 36
                          function: handle
                          class: Knuckles\Scribe\Commands\GenerateDocumentation
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/Util.php
                          line: 43
                          function: 'Illuminate\Container\{closure}'
                          class: Illuminate\Container\BoundMethod
                          type: '::'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                          line: 95
                          function: unwrapIfClosure
                          class: Illuminate\Container\Util
                          type: '::'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                          line: 35
                          function: callBoundMethod
                          class: Illuminate\Container\BoundMethod
                          type: '::'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                          line: 694
                          function: call
                          class: Illuminate\Container\BoundMethod
                          type: '::'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                          line: 213
                          function: call
                          class: Illuminate\Container\Container
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/symfony/console/Command/Command.php
                          line: 279
                          function: execute
                          class: Illuminate\Console\Command
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                          line: 182
                          function: run
                          class: Symfony\Component\Console\Command\Command
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/symfony/console/Application.php
                          line: 1094
                          function: run
                          class: Illuminate\Console\Command
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/symfony/console/Application.php
                          line: 342
                          function: doRunCommand
                          class: Symfony\Component\Console\Application
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/symfony/console/Application.php
                          line: 193
                          function: doRun
                          class: Symfony\Component\Console\Application
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                          line: 198
                          function: run
                          class: Symfony\Component\Console\Application
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                          line: 1208
                          function: handle
                          class: Illuminate\Foundation\Console\Kernel
                          type: '->'
                        -
                          file: /var/www/ecommerce_api/api/artisan
                          line: 13
                          function: handleCommand
                          class: Illuminate\Foundation\Application
                          type: '->'
                    properties:
                      message:
                        type: string
                        example: 'Invalid signature.'
                      exception:
                        type: string
                        example: Illuminate\Routing\Exceptions\InvalidSignatureException
                      file:
                        type: string
                        example: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ValidateSignature.php
                      line:
                        type: integer
                        example: 73
                      trace:
                        type: array
                        example:
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Routing\Middleware\ValidateSignature
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/app/Http/Middleware/V1/SecurityMonitoring.php
                            line: 27
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: App\Http\Middleware\V1\SecurityMonitoring
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/app/Http/Middleware/V1/SecurityLogger.php
                            line: 23
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: App\Http\Middleware\V1\SecurityLogger
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/app/Http/Middleware/V1/SecurityHeaders.php
                            line: 12
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: App\Http\Middleware\V1\SecurityHeaders
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                            line: 51
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Routing\Middleware\SubstituteBindings
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 127
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                            line: 807
                            function: then
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                            line: 786
                            function: runRouteWithinStack
                            class: Illuminate\Routing\Router
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                            line: 750
                            function: runRoute
                            class: Illuminate\Routing\Router
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                            line: 739
                            function: dispatchToRoute
                            class: Illuminate\Routing\Router
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                            line: 201
                            function: dispatch
                            class: Illuminate\Routing\Router
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 170
                            function: 'Illuminate\Foundation\Http\{closure}'
                            class: Illuminate\Foundation\Http\Kernel
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                            line: 21
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                            line: 31
                            function: handle
                            class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                            line: 21
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                            line: 51
                            function: handle
                            class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Foundation\Http\Middleware\TrimStrings
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/ValidatePostSize.php
                            line: 27
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Http\Middleware\ValidatePostSize
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                            line: 110
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                            line: 49
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Http\Middleware\HandleCors
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                            line: 58
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Http\Middleware\TrustProxies
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/InvokeDeferredCallbacks.php
                            line: 22
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 209
                            function: handle
                            class: Illuminate\Foundation\Http\Middleware\InvokeDeferredCallbacks
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line: 127
                            function: 'Illuminate\Pipeline\{closure}'
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                            line: 176
                            function: then
                            class: Illuminate\Pipeline\Pipeline
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                            line: 145
                            function: sendRequestThroughRouter
                            class: Illuminate\Foundation\Http\Kernel
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                            line: 310
                            function: handle
                            class: Illuminate\Foundation\Http\Kernel
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                            line: 298
                            function: callLaravelOrLumenRoute
                            class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                            line: 91
                            function: makeApiCall
                            class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                            line: 44
                            function: makeResponseCall
                            class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                            line: 35
                            function: makeResponseCallIfConditionsPass
                            class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                            line: 237
                            function: __invoke
                            class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                            line: 163
                            function: iterateThroughStrategies
                            class: Knuckles\Scribe\Extracting\Extractor
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                            line: 95
                            function: fetchResponses
                            class: Knuckles\Scribe\Extracting\Extractor
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                            line: 125
                            function: processRoute
                            class: Knuckles\Scribe\Extracting\Extractor
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                            line: 72
                            function: extractEndpointsInfoFromLaravelApp
                            class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                            line: 50
                            function: extractEndpointsInfoAndWriteToDisk
                            class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                            line: 53
                            function: get
                            class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                            line: 36
                            function: handle
                            class: Knuckles\Scribe\Commands\GenerateDocumentation
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/Util.php
                            line: 43
                            function: 'Illuminate\Container\{closure}'
                            class: Illuminate\Container\BoundMethod
                            type: '::'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                            line: 95
                            function: unwrapIfClosure
                            class: Illuminate\Container\Util
                            type: '::'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                            line: 35
                            function: callBoundMethod
                            class: Illuminate\Container\BoundMethod
                            type: '::'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                            line: 694
                            function: call
                            class: Illuminate\Container\BoundMethod
                            type: '::'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                            line: 213
                            function: call
                            class: Illuminate\Container\Container
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/symfony/console/Command/Command.php
                            line: 279
                            function: execute
                            class: Illuminate\Console\Command
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                            line: 182
                            function: run
                            class: Symfony\Component\Console\Command\Command
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/symfony/console/Application.php
                            line: 1094
                            function: run
                            class: Illuminate\Console\Command
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/symfony/console/Application.php
                            line: 342
                            function: doRunCommand
                            class: Symfony\Component\Console\Application
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/symfony/console/Application.php
                            line: 193
                            function: doRun
                            class: Symfony\Component\Console\Application
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                            line: 198
                            function: run
                            class: Symfony\Component\Console\Application
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                            line: 1208
                            function: handle
                            class: Illuminate\Foundation\Console\Kernel
                            type: '->'
                          -
                            file: /var/www/ecommerce_api/api/artisan
                            line: 13
                            function: handleCommand
                            class: Illuminate\Foundation\Application
                            type: '->'
                        items:
                          type: object
                          properties:
                            file:
                              type: string
                              example: /var/www/ecommerce_api/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                            line:
                              type: integer
                              example: 209
                            function:
                              type: string
                              example: handle
                            class:
                              type: string
                              example: Illuminate\Routing\Middleware\ValidateSignature
                            type:
                              type: string
                              example: '->'
        404:
          description: 'User not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\User] 123'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\User] 123'
      tags:
        - 'Email Verification'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify.'
        example: architecto
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: "The verification hash that ensures the link is valid and hasn't been tampered with. This is automatically included in the verification link."
        example: abc123def456ghi789
        required: true
        schema:
          type: string
      -
        in: path
        name: user_id
        description: 'The ID of the user whose email is being verified. This is automatically included in the verification link.'
        example: 123
        required: true
        schema:
          type: integer
  /api/email/resend:
    get:
      summary: 'Resend email verification notification'
      operationId: resendEmailVerificationNotification
      description: "Sends a new email verification link to the authenticated user's email address.\nThis is useful when users don't receive the initial verification email or when\nthe verification link has expired. The user must be authenticated to request a resend."
      parameters: []
      responses:
        200:
          description: 'Verification email sent successfully'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verification link sent on your email id.'
                  status: 200
                properties:
                  message:
                    type: string
                    example: 'Email verification link sent on your email id.'
                  status:
                    type: integer
                    example: 200
        400:
          description: 'Email already verified'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email already verified.'
                  status: 400
                properties:
                  message:
                    type: string
                    example: 'Email already verified.'
                  status:
                    type: integer
                    example: 400
        401:
          description: 'User not authenticated'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                  status: 401
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
                  status:
                    type: integer
                    example: 401
        429:
          description: 'Too many requests'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Too many verification emails sent. Please wait before requesting another.'
                  status: 429
                properties:
                  message:
                    type: string
                    example: 'Too many verification emails sent. Please wait before requesting another.'
                  status:
                    type: integer
                    example: 429
        500:
          description: 'Email sending failed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to send verification email. Please try again later.'
                  status: 500
                properties:
                  message:
                    type: string
                    example: 'Failed to send verification email. Please try again later.'
                  status:
                    type: integer
                    example: 500
      tags:
        - 'Email Verification'
  /api/admin/users:
    get:
      summary: 'Retrieve a paginated list of users with advanced filtering'
      operationId: retrieveAPaginatedListOfUsersWithAdvancedFiltering
      description: "Get a comprehensive paginated list of all users in the system with advanced filtering capabilities.\nThis endpoint provides administrators with complete user information including personal details,\naddresses, role assignments, vendor associations, and account status. Essential for user management,\nadministrative oversight, customer service, and system analytics. Supports powerful filtering and\nsearch functionality to help administrators quickly find specific users or user groups."
      parameters:
        -
          in: query
          name: filter
          description: 'optional Array of filter parameters to narrow down results.'
          example:
            - architecto
          required: false
          schema:
            type: array
            description: 'optional Array of filter parameters to narrow down results.'
            example:
              - architecto
            items:
              type: string
        -
          in: query
          name: 'filter[name]'
          description: 'optional Filter users by name (partial match supported).'
          example: john
          required: false
          schema:
            type: string
            description: 'optional Filter users by name (partial match supported).'
            example: john
            nullable: false
        -
          in: query
          name: 'filter[email]'
          description: 'optional Filter users by email address (partial match supported).'
          example: '@gmail.com'
          required: false
          schema:
            type: string
            description: 'optional Filter users by email address (partial match supported).'
            example: '@gmail.com'
            nullable: false
        -
          in: query
          name: 'filter[search]'
          description: 'optional Search across user names and email addresses.'
          example: 'sarah johnson'
          required: false
          schema:
            type: string
            description: 'optional Search across user names and email addresses.'
            example: 'sarah johnson'
            nullable: false
        -
          in: query
          name: 'filter[role]'
          description: 'optional Filter by role ID(s). Single ID or comma-separated multiple IDs.'
          example: '3,5,7'
          required: false
          schema:
            type: string
            description: 'optional Filter by role ID(s). Single ID or comma-separated multiple IDs.'
            example: '3,5,7'
            nullable: false
        -
          in: query
          name: 'filter[created_at]'
          description: 'optional Filter by registration date. Single date or comma-separated date range (YYYY-MM-DD).'
          example: '2025-01-01,2025-01-31'
          required: false
          schema:
            type: string
            description: 'optional Filter by registration date. Single date or comma-separated date range (YYYY-MM-DD).'
            example: '2025-01-01,2025-01-31'
            nullable: false
        -
          in: query
          name: 'filter[updated_at]'
          description: 'optional Filter by last update date. Single date or comma-separated date range (YYYY-MM-DD).'
          example: '2024-12-01,2025-01-31'
          required: false
          schema:
            type: string
            description: 'optional Filter by last update date. Single date or comma-separated date range (YYYY-MM-DD).'
            example: '2024-12-01,2025-01-31'
            nullable: false
        -
          in: query
          name: 'filter[include]'
          description: 'optional Include related data. Options: role,vendors,userAddress.'
          example: 'role,vendors,userAddress'
          required: false
          schema:
            type: string
            description: 'optional Include related data. Options: role,vendors,userAddress.'
            example: 'role,vendors,userAddress'
            nullable: false
        -
          in: query
          name: page
          description: 'optional Page number for pagination. Default: 1.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'optional Page number for pagination. Default: 1.'
            example: 2
            nullable: false
        -
          in: query
          name: per_page
          description: 'optional Number of users per page (max 100). Default: 15.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'optional Number of users per page (max 100). Default: 15.'
            example: 25
            nullable: false
        -
          in: query
          name: sort
          description: "optional Sort users. Prefix with '-' for descending. Available: name, email, created_at, updated_at."
          example: '-created_at,name'
          required: false
          schema:
            type: string
            description: "optional Sort users. Prefix with '-' for descending. Available: name, email, created_at, updated_at."
            example: '-created_at,name'
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Users retrieved successfully'
                    type: object
                    example:
                      message: 'Users retrieved successfully.'
                      data:
                        data:
                          -
                            id: 123
                            name: 'Sarah Johnson'
                            email: sarah.johnson@example.com
                            email_verified_at: '2025-01-10T08:00:00.000000Z'
                            stripe_customer_id: cus_1234567890abcdef
                            password_changed_at: '2025-01-01T12:00:00.000000Z'
                            last_login_at: '2025-01-16T09:15:00.000000Z'
                            last_login_ip: 192.168.1.100
                            created_at: '2024-12-15T10:30:00.000000Z'
                            updated_at: '2025-01-16T09:15:00.000000Z'
                            deleted_at: null
                            user_address:
                              id: 45
                              address_line1: '123 Oak Street'
                              address_line2: 'Apartment 4B'
                              city: London
                              state: England
                              country: 'United Kingdom'
                              postal_code: 'SW1A 1AA'
                            role:
                              id: 6
                              name: user
                            vendors:
                              -
                                id: 12
                                name: "Sarah's Boutique"
                                description: 'Handcrafted jewelry and accessories'
                                logo: 'https://yourapi.com/storage/vendor-logos/sarahs-boutique.jpg'
                                created_at: '2025-01-05T14:20:00.000000Z'
                          -
                            id: 89
                            name: 'Michael Chen'
                            email: michael.chen@example.com
                            email_verified_at: '2025-01-08T12:00:00.000000Z'
                            stripe_customer_id: cus_9876543210fedcba
                            password_changed_at: '2024-12-20T15:30:00.000000Z'
                            last_login_at: '2025-01-15T14:45:00.000000Z'
                            last_login_ip: 203.0.113.42
                            created_at: '2024-11-20T16:45:00.000000Z'
                            updated_at: '2025-01-15T14:45:00.000000Z'
                            deleted_at: null
                            user_address:
                              id: 67
                              address_line1: '456 Pine Avenue'
                              address_line2: null
                              city: Manchester
                              state: 'Greater Manchester'
                              country: 'United Kingdom'
                              postal_code: 'M1 1AA'
                            role:
                              id: 3
                              name: manager
                            vendors: []
                          -
                            id: 45
                            name: 'Emma Wilson'
                            email: emma.wilson@example.com
                            email_verified_at: '2025-01-05T14:00:00.000000Z'
                            stripe_customer_id: null
                            password_changed_at: '2025-01-05T14:15:00.000000Z'
                            last_login_at: '2025-01-14T11:20:00.000000Z'
                            last_login_ip: 198.51.100.23
                            created_at: '2025-01-05T14:00:00.000000Z'
                            updated_at: '2025-01-14T11:20:00.000000Z'
                            deleted_at: null
                            user_address: null
                            role:
                              id: 4
                              name: customer_service
                            vendors: []
                        current_page: 1
                        per_page: 15
                        total: 1247
                        last_page: 84
                        from: 1
                        to: 15
                        path: 'https://yourapi.com/api/v1/admin/users'
                        first_page_url: 'https://yourapi.com/api/v1/admin/users?page=1'
                        last_page_url: 'https://yourapi.com/api/v1/admin/users?page=84'
                        next_page_url: 'https://yourapi.com/api/v1/admin/users?page=2'
                        prev_page_url: null
                    properties:
                      message:
                        type: string
                        example: 'Users retrieved successfully.'
                      data:
                        type: object
                        properties:
                          data:
                            type: array
                            example:
                              -
                                id: 123
                                name: 'Sarah Johnson'
                                email: sarah.johnson@example.com
                                email_verified_at: '2025-01-10T08:00:00.000000Z'
                                stripe_customer_id: cus_1234567890abcdef
                                password_changed_at: '2025-01-01T12:00:00.000000Z'
                                last_login_at: '2025-01-16T09:15:00.000000Z'
                                last_login_ip: 192.168.1.100
                                created_at: '2024-12-15T10:30:00.000000Z'
                                updated_at: '2025-01-16T09:15:00.000000Z'
                                deleted_at: null
                                user_address:
                                  id: 45
                                  address_line1: '123 Oak Street'
                                  address_line2: 'Apartment 4B'
                                  city: London
                                  state: England
                                  country: 'United Kingdom'
                                  postal_code: 'SW1A 1AA'
                                role:
                                  id: 6
                                  name: user
                                vendors:
                                  -
                                    id: 12
                                    name: "Sarah's Boutique"
                                    description: 'Handcrafted jewelry and accessories'
                                    logo: 'https://yourapi.com/storage/vendor-logos/sarahs-boutique.jpg'
                                    created_at: '2025-01-05T14:20:00.000000Z'
                              -
                                id: 89
                                name: 'Michael Chen'
                                email: michael.chen@example.com
                                email_verified_at: '2025-01-08T12:00:00.000000Z'
                                stripe_customer_id: cus_9876543210fedcba
                                password_changed_at: '2024-12-20T15:30:00.000000Z'
                                last_login_at: '2025-01-15T14:45:00.000000Z'
                                last_login_ip: 203.0.113.42
                                created_at: '2024-11-20T16:45:00.000000Z'
                                updated_at: '2025-01-15T14:45:00.000000Z'
                                deleted_at: null
                                user_address:
                                  id: 67
                                  address_line1: '456 Pine Avenue'
                                  address_line2: null
                                  city: Manchester
                                  state: 'Greater Manchester'
                                  country: 'United Kingdom'
                                  postal_code: 'M1 1AA'
                                role:
                                  id: 3
                                  name: manager
                                vendors: []
                              -
                                id: 45
                                name: 'Emma Wilson'
                                email: emma.wilson@example.com
                                email_verified_at: '2025-01-05T14:00:00.000000Z'
                                stripe_customer_id: null
                                password_changed_at: '2025-01-05T14:15:00.000000Z'
                                last_login_at: '2025-01-14T11:20:00.000000Z'
                                last_login_ip: 198.51.100.23
                                created_at: '2025-01-05T14:00:00.000000Z'
                                updated_at: '2025-01-14T11:20:00.000000Z'
                                deleted_at: null
                                user_address: null
                                role:
                                  id: 4
                                  name: customer_service
                                vendors: []
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 123
                                name:
                                  type: string
                                  example: 'Sarah Johnson'
                                email:
                                  type: string
                                  example: sarah.johnson@example.com
                                email_verified_at:
                                  type: string
                                  example: '2025-01-10T08:00:00.000000Z'
                                stripe_customer_id:
                                  type: string
                                  example: cus_1234567890abcdef
                                password_changed_at:
                                  type: string
                                  example: '2025-01-01T12:00:00.000000Z'
                                last_login_at:
                                  type: string
                                  example: '2025-01-16T09:15:00.000000Z'
                                last_login_ip:
                                  type: string
                                  example: 192.168.1.100
                                created_at:
                                  type: string
                                  example: '2024-12-15T10:30:00.000000Z'
                                updated_at:
                                  type: string
                                  example: '2025-01-16T09:15:00.000000Z'
                                deleted_at:
                                  type: string
                                  example: null
                                user_address:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 45
                                    address_line1:
                                      type: string
                                      example: '123 Oak Street'
                                    address_line2:
                                      type: string
                                      example: 'Apartment 4B'
                                    city:
                                      type: string
                                      example: London
                                    state:
                                      type: string
                                      example: England
                                    country:
                                      type: string
                                      example: 'United Kingdom'
                                    postal_code:
                                      type: string
                                      example: 'SW1A 1AA'
                                role:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 6
                                    name:
                                      type: string
                                      example: user
                                vendors:
                                  type: array
                                  example:
                                    -
                                      id: 12
                                      name: "Sarah's Boutique"
                                      description: 'Handcrafted jewelry and accessories'
                                      logo: 'https://yourapi.com/storage/vendor-logos/sarahs-boutique.jpg'
                                      created_at: '2025-01-05T14:20:00.000000Z'
                                  items:
                                    type: object
                                    properties:
                                      id: { type: integer, example: 12 }
                                      name: { type: string, example: "Sarah's Boutique" }
                                      description: { type: string, example: 'Handcrafted jewelry and accessories' }
                                      logo: { type: string, example: 'https://yourapi.com/storage/vendor-logos/sarahs-boutique.jpg' }
                                      created_at: { type: string, example: '2025-01-05T14:20:00.000000Z' }
                          current_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 15
                          total:
                            type: integer
                            example: 1247
                          last_page:
                            type: integer
                            example: 84
                          from:
                            type: integer
                            example: 1
                          to:
                            type: integer
                            example: 15
                          path:
                            type: string
                            example: 'https://yourapi.com/api/v1/admin/users'
                          first_page_url:
                            type: string
                            example: 'https://yourapi.com/api/v1/admin/users?page=1'
                          last_page_url:
                            type: string
[...]
